body{
    display: flex;
    height: 100vh;
}

.left{
    display: flex;
    flex-grow: 0.5;
    width: 30%;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    width: 100%;
    margin-top: 25vh;
}

.logo h1{
    padding: 0;
    margin: 0;
    font-size: 4rem;
    color: white;
}

.logo img{
    height: 100%;
    width: auto;
}

.right{
    display: flex;
    flex-direction: column;

    flex-grow: 2;
}

.background{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: whitesmoke;
}

.top{
    width: 100ch;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex:1;
}


.form{
    height: 40%;
    background-color: #FAF9F6;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
}


.bottom{
    padding:50px;
    flex:1;
}

.create--account{
    border: none;
    padding:15px;
    margin-bottom: 20px;
    width: 17rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background-color: #596D48;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.login{
    font-size: 1.2rem;
    font-weight: 500;
}
