body{
    display: flex;
    height: 100vh;
}

.left{
    display: flex;
    flex-grow: 0.5;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    width: 100%;
    margin-top: 25vh;
}

.logo h1{
    padding: 0;
    margin: 0;
    font-size: 4rem;
}

.logo img{
    height: 100%;
    width: auto;
}

.right{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.top{
    flex: 1;
    background-color: gray;
}

.middle{
    flex:1;
    background-color: whitesmoke;
}

.bottom{
    flex:1;
    background-color: gray;
}